/* html{
    padding: 0px;
} */

.img2{
    position: relative;
    height: 100%;
    width: 100%;
    
}

header{
    height: 70px;
    width: 100%;
    background: gray;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    z-index: 1;
    box-sizing: border-box;

}
.headerimg{
    padding: 25px 10px;
    height:  40px;
    width: 200px;
}   
.menu{
    padding: 15px ;

}

.nature-section{
    background: url(https://upload.wikimedia.org/wikipedia/commons/c/c8/Altja_j%C3%B5gi_Lahemaal.jpg);
    background-repeat: no-repeat; 
    background-size: 100vw;
    height: 715px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 0px;
}
body{
    height: 100%;
    width: 100%;
    margin: 0px;

}
.career{
    color:white;
    font-size: 30px;
}
.campus{
    color: white;
}
.watch-video{
    margin: 150px 0px 0px 0px;
    color: rgb(84, 174, 235);
    font-size: 25px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}

.m{
    display: flex;
    position: relative;
    right: 25px;
}

.m :hover{
    color: blue;
    
}
.question{
    height: 35px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.COVID{
    margin: 0px;
    padding: 0px;
    background: lightblue;
    height: 100px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
   
}

.warning{
    text-align: center;
    padding: 25px 200px;
}

.small{
    float: left;
    position: relative;
    bottom: 8px;
    
}

.career2{
    position: relative;
    left: 5px;
}

.Dev-Title{
    color: rgb(86, 150, 172);
    font-size: 50px;
    position: relative;
    left: 40px;
       
}

.second-page{
    display: flex;
    flex-direction: column;
    background: white;
    width: 100vw;
    height: 715px;
    justify-content: space-around;
}

p{
    text-align: left; 
    text-align-last: left;
    padding: 0px 200px 0px 0px;
    position: relative;

}

.one-of-three{
    position: relative;
    left: 40px;
    bottom: 50px;
    /* display: flex;
    flex-direction: column; */
}